services:
  web:
    build: .
    container_name: django_app
    command: sh -c "echo 'Server running at http://127.0.0.1:8000' && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=smartpost
      - DB_USER=postgres
      - DB_PASSWORD=0904
      - DB_HOST=db
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: smartpost
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "0904"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      N8N_BASIC_AUTH_ACTIVE: "true"
      N8N_BASIC_AUTH_USER: admin
      N8N_BASIC_AUTH_PASSWORD: admin123
      N8N_HOST: localhost
      N8N_PORT: 5678
      N8N_PROTOCOL: http
      WEBHOOK_URL: http://localhost:5678
      GENERIC_TIMEZONE: Asia/Kolkata
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - web

volumes:
  postgres_data:
  n8n_data: